<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>70</Volume>
    <RecentFiles>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1901</X>
        <Y>1028</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1788</Width>
        <Height>1296</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Video/libplacebo/Color Adjustment:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>